<ion-view title="Beitrag verfassen">
	<ion-nav-buttons side="left">
	<button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
	</ion-nav-buttons> 
	<ion-nav-buttons side="right">
	<button class="button button-icon icon ion-ios7-gear"></button>
	<button menu-toggle="right" class="button button-icon icon ion-ios7-contact"></button>
	</ion-nav-buttons> 

	<ion-content class="has-header">
		<div class="list">
		  <label class="item item-input item-stacked-label">
			<span class="input-label">Titel</span>
			<input type="text" placeholder="">
		  </label>
		  <label class="item item-input item-stacked-label">
			<span class="input-label">Kurztext</span>
			<input type="text" placeholder="">
		  </label>
		  <label class="item item-input item-stacked-label">
			<span class="input-label">Artikeltext (HTML)</span>
			<textarea rows="10"></textarea>
		  </label>
		  <a><img width="50px" src="img/Upload-File.ico"/> Bild hochladen</a>
		</div>
	</ion-content>
</ion-view>
