<ion-view title="{{article.id}}">
    

    <!--  Navigation
<ion-nav-buttons side="left">
	<button class="button button-icon icon ion-ios7-arrow-back" backButton></button>
</ion-nav-buttons> 
     -->
    
<ion-nav-buttons side="right">
<button class="button button-icon icon ion-ios7-gear"></button>
	<button menu-toggle="right" class="button button-icon icon ion-ios7-contact"></button>
</ion-nav-buttons> 
    
<ion-content class="has-header has-tabs" padding="true" has-bouncing="true">
       <div ng-bind-html="article.html"></div>
</ion-content> </ion-view>
