<ion-view title="Version">


    <!--  Navigation -->
	<ion-nav-buttons side="left">
	<button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
	</ion-nav-buttons> 
	<ion-nav-buttons side="right">
	<button class="button button-icon icon ion-ios7-gear"></button>
	<button menu-toggle="right" class="button button-icon icon ion-ios7-contact"></button>
    </ion-nav-buttons>
    
	<ion-content class="has-header">
        <ion-list>
        	<ion-item><h2>Version 0.0.1-Alpha</h2></ion-item>
        	<ion-item><h4>30. Juli 2014</h4></ion-item>
        </ion-list>
	</ion-content>
</ion-view>
